<template name="cardSidebarItemZoomText">
                                                <span class="zoomText zoomTextButton btn fa fa-search-plus card-button cardHeaderItem {{getButtonColor}}"
                                                      data-type="cardNavigation"
                                                      title="{{_ "card.tooltip.zoomText"}}"></span>

</template>
