<template name="cardsetNavigationExport">
    {{#unless isIOS}}
        {{#unless isShuffledCardset this._id}}
            {{#if this.quantity}}
                {{#if isCardsetOwner _id}}
                    <div class="hidden-xs btn-group">
                        <button id="exportCardsBtn" class="btn btn-sm btn-raised exportCardsBtn"><span class="flex-content">{{{getCardsetIcons false}}}<i
                                class="fa fa-cloud-download"></i>&nbsp;{{_ "sidebar-nav.exportcard"}}</span>
                        </button>
                    </div>
                {{/if}}
            {{/if}}
        {{/unless}}
    {{/unless}}
</template>
