<template name="filterItemCreateCardsetButton">
    {{#if canCreateContent}}
        {{#unless isSmartphone}}
            {{#unless isSelectingCardsetToLearn}}
                <span class="btn-group">
                <button id="newCardSet" type="button"
                        class="btn btn-raised btn-success saveSet" {{disableIfOffline}} {{disableIfShuffle}}>
                    <span class="flex-content"><i class="fa fa-cog fa-spin"></i>&nbsp;{{{getCardsetIcons false}}}{{_ "set-list-empty.newset"}}</span>
                </button>
                </span>
            {{/unless}}
        {{/unless}}
    {{/if}}
</template>
