<template name="filterItemCreateRepetitoriumButton">
    {{#unless isSmartphone}}
        {{#unless isSelectingCardsetToLearn}}
            {{#if canCreateContent}}
            <span class="btn-group">
                <button id="newRepetitorium" type="button"
                        class="btn btn-raised btn-success saveSet hidden-xs" {{disableIfOffline}} {{disableIfShuffle}}>
                    <span class="flex-content"><i class="fa fa-cog fa-spin"></i>&nbsp;{{{getCardsetIcons true}}}{{_ "set-list.shuffleCardsets"}}</span>
                </button>
            </span>
            {{else}}
                <div class="empty-button-placeholder"></div>
            {{/if}}
        {{/unless}}
    {{/unless}}
</template>
